.container__big-card {
    width: 400px;
    height: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.big-card__title > h1{
    margin-top: 15px;
    font-size: 24px;
}
.big-card__description{
    margin-top: 10px;
}

.big-card__description > p > a{
    font-size: 12px;
    color: lightgray;
}   

.big-card__image > img {
    width: 100%;
    min-width: 400px;
    height: 200px;
    margin-top: 15px;
}