.container__menu-title {
    color: azure;   
}

.container__menu-title h1{
    margin: 15px 0;
    font-size: 125px;
    display: flex;
    justify-content: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-title hr{
    margin: 20px 0 5px 0;
}