.container__content{
    
    width: 100% ;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
}



.content__cover > img{
    border: 3px solid grey;
    border-radius: 5px;
    width: 500px;
    min-width: 500px;
    
}

.content__description{
   display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.content__description > p{
    margin-top: 20px;
   color: gray;
}

